.section {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    box-sizing: border-box;

    &.green {
        background-color: #00a1a1;
    }

    &.orange {
        background-color: rgb(221, 142, 85);
    }

    &.reverse {
        flex-direction: row-reverse;
    }
}

@media (max-width: 768px) {
    .section {
        >div {
            width: 50%;
        }

        h1 {
            font-size: 1.5rem;
        }
    }
}